.profile{
  max-width: 410px;
  margin: 0 auto;
  padding: 74px 0 70px 0;
  display: flex;
  flex-direction: column;
}

.profile__title{
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0 0 107px 0;
}

.profile__form{
  display: flex;
  flex-direction: column;
}

.profile__input-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 0 16px 0;
}

.profile__input-container:first-child{
  border-bottom: 1px solid #424242;
}

.profile__input-name{
  align-self: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.21;
  width: 40px;
}

.profile__input{
  outline: 0;
  border: none;
  padding: 0;
  color: white;
  background: none;
  text-align: end;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  max-width: 360px;
}

.profile__input:focus{
  text-align: start;
}

.profile__button-container{
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile__edit-button{
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  background: none;
  padding: 0;
  border: none;
  color: white;
  transition: opacity 0.3s linear;
  margin: 204px 0 16px 0;
}

.profile__edit-button:hover{
  opacity: 0.7;
  cursor: pointer;
}

.profile__signout{
  font-size: 13px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  text-decoration: none;
  color: #EE3465;
  transition: opacity 0.3s linear;
}

.profile__signout:hover{
  opacity: 0.7;
}

.profile__error{
  text-align: center;
  width: 100%;
  margin: 0;
  position: absolute;
  color: #EE3465;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  bottom: 65px;
}

.profile__save-button{
  padding: 0;
  border: none;
  border-radius: 3px;
  height: 45px;
  margin: 204px 0 0 0;
  background-color: #4285F4;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  transition: opacity 0.3s linear;
}

.profile__save-button_unactive{
  color: #C2C2C2;
  background-color: #F8F8F8;
}

.profile__save-button_active{
  transition: opacity 0.3s linear; 
}

.profile__save-button_active:hover{
  opacity: 0.8;
  cursor: pointer; 
}

@media screen and (max-width: 768px) {
  .profile{
    padding: 236px 0 70px 0;
  }

  .profile__title{
    margin: 0 0 80px 0;
  }

  .profile__save-button{
    margin: 195px 0 0 0;
  }
  .profile__edit-button{
    margin: 195px 0 16px 0;
  }
}

@media screen and (max-width: 320px) {
  .profile{
    padding: 70px 0 70px 0;
    max-width: 260px;
  }

  .profile__title{
    margin: 0 0 64px 0;
  }

  .profile__edit-button{
    margin: 364px 0 16px 0;
  }
}