.saved-movies{
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
}

.saved-movies__main{
  padding: 0 0 93px 0;
}

@media screen and (max-width: 768px) {
  .saved-movies__main{
    padding: 0;
  }
}